bids==0.0
grad_cam==1.5.0
lion_pytorch==0.1.2
matplotlib==3.7.1
nibabel==3.2.2
nipype==1.8.2
numpy==1.23.5
numpy==1.24.3
opencv_python==4.7.0.72
optuna==3.4.0
pandas==1.5.3
pybids==0.16.1
pytorch_warmup==0.1.1
PyYAML==6.0.1
scikit_learn==1.2.2
torch==2.3.0
torchio==0.19.1
torchvision==0.18.0
tqdm==4.65.0
